.place__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.1;
    margin: 0;
    text-align: left;
    max-width: 90%;
    grid-area: place__title;
}

@media screen and (max-width: 1224px) {
    .place__title {
        font-size: 2.625rem;
    }
}

@media screen and (max-width: 480px) {
    .place__title {
        font-size: 2rem;
        padding: 0 10px;
    }
}
