.intro__quote {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0;
    padding-top: 2rem;
    max-width: 70%;
}

@media screen and (max-width: 1224px) {
    .intro__quote {
        max-width: 100%;
    }
}
