.cover {
    width: 90%;
    height: 740px;
    margin: 90px auto;
    background: center / cover url(../../images/cover-background-image.jpg);
    background-color: rgba(42, 44, 47, 0.3);
    background-blend-mode: soft-light;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
