.intro__title {
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.1;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .intro__title {
        font-size: 2rem;
    }
}
